<h3>Inbox</h3>

<% if @profile.recipient_messages.any?%>
  <% @profile.recipient_messages.each do |message| %>
  <div class="message">
    <p>To: <%= message.recipient.first_name %></p>
    <p>Subject: <%= message.subject_line %></p>
    <p>Sent By: <%= message.sender.first_name %></p>
    <%= message.message %>
    <%= link_to "Reply", new_message_path%>
  </div>
  <% end %>
<% end %>
