<h3>Inbox</h3>

<% if @profile.recipient_messages.any?%>
  <% @profile.recipient_messages.each do |message| %>
  <div class="message">
    <p>To:<span class="recipient_id"><%= message.recipient_id %></span></p>

    <p>Subject:<span class="subject_line"><%= message.subject_line %></span></p>
    <p>Sent By: <span class="sender_id"><%= message.sender.first_name %></p>
    <%= message.message %>
    <%= link_to "Reply", new_message_path, class: 'reply' %>
    <%= render "reply" %>
  </div>
  <% end %>
<% end %>
