
<div class="new_message_pop_up_expanded">

  <%= form_for @message, remote:true do |f| %>


  <p><%= @profile.first_name%><%= @profile.last_name%>$</p>

  <div class="message_error_messages">
  </div>

    <%= f.text_area :message, class:"new_message" %>

    <%= f.hidden_field :recipient_id, value: @profile.id %>

  <%= f.submit "[ commit ]", id:"commit" %>

  <% end %>
</div>
