<%= form_for @reply do |f| %>
  <div class="reply_message">
    <p>this is the reply form!</p>
    <%= f.label :recipient_id, "#{@reply.recipient.first_name}$", class: "reply-name" %>
    <%= f.hidden_field :recipient_id, class: "reply_to" %><br>
    <%= f.text_area :message, class: "reply_message_message" %>
    <%= f.submit "SEND" %>
  </div>
<% end %>
