
<div class="reply_form">
<%= form_for @message do |f| %>
  <div class="reply_message">
    <%= f.label :recipient_id, "To" %>
    <%= f.text_field :recipient_id, class: "reply_to" %>

    <%= f.label :subject_line, "Subject" %>
    <%= f.text_field :subject_line, class: "reply_line" %>

    <%= f.label :message, "Message" %>
    <%= f.text_area :message %>


    <%= f.submit "SEND" %>
  </div>
<% end %>

</div>
