<%= form_for @reply do |f| %>
  <div class="reply_message">
    <%= f.label :recipient_id, "To: #{@reply.recipient.first_name}", class: "reply-name" %>
    <%= f.hidden_field :recipient_id, class: "reply_to" %><br>

    <%= f.label :message, "Message" %>
    <%= f.text_area :message %>


    <%= f.submit "SEND" %>
  </div>
<% end %>
