
<%= form_tag profile_path, method: :get, id: 'search-form' do %>
  <%= label(:language, 'What are your preferred languages?') %><br>
    <%= check_box_tag(:language, 'Ruby') %>
    <%= label_tag(:language, 'Ruby') %>
    <%= check_box_tag(:language, 'JavaScript') %>
    <%= label_tag(:language, 'JavaScript') %>
    <%= check_box_tag(:language, 'Python') %>
    <%= label_tag(:language, 'Python') %>
    <%= check_box_tag(:language, 'Java') %>
    <%= label_tag(:language,'Java') %>
    <%= check_box_tag(:language, 'PHP') %>
    <%= label_tag(:language,'PHP') %>
    <%= check_box_tag(:language, 'C++') %>
    <%= label_tag(:language,'C++') %><br>

  <%="What is your Operating System of choice?" %><br>
    <%= check_box_tag(:operating_system, 'Unix') %>
    <%= label_tag(:operating_system,'Unix') %>
    <%= check_box_tag(:operating_system, 'Linux') %>
    <%= label_tag(:operating_system,'Linux') %><br>

  <%= "What age-range are you looking for?"%><br>
    <%= check_box_tag(:age, '20-25') %>
    <%= label_tag(:age,'20-25') %>
    <%= check_box_tag(:age, '25-30') %>
    <%= label_tag(:age, '25-30') %>
    <%= check_box_tag(:age, '30-35') %>
    <%= label_tag(:age, '30-35') %>
    <%= check_box_tag(:age, '40-45') %>
    <%= label_tag(:age,'40-45') %><br>
    <%= check_box_tag(:age, '50+') %>
    <%= label_tag(:age,'50+') %>

  <%= label_tag"Gender:" %>
    <%= check_box(:male) %>
    <%= label(:male, "Male" )%>
    <%= check_box(:female) %>
    <%= label(:female, "Female")%>
    <%= check_box(:other) %>
    <%= label(:other, "Other")%>

  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="users">
<!-- render all users here -->
</div>

<% if @profiles.present? %>
  <%= render @profiles %>
<% else %>
  <p>There are no profiles containing the term(s) <%= params[:search] %>.</p>
<% end %>
