<div class="nested-fields">

  <div class="language-fields">
    <%= f.label :pref_lang, "Language:" %>
    <%= f.text_field :pref_lang, placeholder: "Ex. Ruby" %>
  </div>
  <div class="language-fields-radio">
    <%= f.label :skill_level, "Skill Level:", class: "skill-level" %>

    <%= f.label(:skill_level, "Newbie", class: "language-fields-label") %>
    <%= f.radio_button(:skill_level, 1) %>


    <%= f.label(:skill_level, "Beginner", class: "language-fields-label") %>
    <%= f.radio_button(:skill_level, 2) %>

    <%= f.label(:skill_level, "Intermediate", class: "language-fields-label") %>
    <%= f.radio_button(:skill_level, 3) %>

    <%= f.label(:skill_level, "Advanced", class: "language-fields-label") %>
    <%= f.radio_button(:skill_level, 4) %>

    <%= f.label(:skill_level, "Expert", class: "language-fields-label") %>
    <%= f.radio_button(:skill_level, 5) %>

  </div>

  <div class="add-language-spacing">
    <br>
    <%= link_to_remove_association 'Remove Preferred Language', f, id: 'remove_pref_language' %>
    <br>
  </div>


</div>
