
<%= form_for @profile do |f| %>
    <% if @profile.errors.any? %>
      <div class="error_messages">
        <h2>Form Is Invalid</h2>
        <ul>
          <% @profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form_input">
      <%= f.label :first_name, "First Name:" %>
      <%= f.text_field :first_name %>
      <label id="errorFirstName"></label>
    </div>
    <div class="form_input">
      <%= f.label :last_name, "Last Name:"%>
      <%= f.text_field :last_name%>
      <label id="errorLastName"></label>
    </div>
    <div class="form_input">
      <%= f.label :location, "Location:"%>
      <%= f.text_field :location%>
      <label id="errorLocation"></label>
    </div>
    <div class="form_checkbox_input">
      <%= label_tag "gender", "Gender:", class: "select_label" %>
        <%= f.label(:male, "Male" )%>
        <%= f.check_box(:male, class:'gender_validation') %>

        <%= f.label(:female, "Female")%>
        <%= f.check_box(:female, class:'gender_validation') %>

        <%= f.label(:other, "Other")%>
        <%= f.check_box(:other, class:'gender_validation') %>
        <label id="errorGender"></label>

    </div><br>
    <div class="form_input">
      <%= f.label(:birthday, "Date of Birth:") %>
      <%= f.date_field(:birthday) %>
      <label id="errorBirthday"></label>

    </div>
    <div class="form_radio_button">
      <%= label :opperating_system, "Operating System:", class: "select_label"  %>

        <%= f.label(:operating_system, "Linux") %>
        <%= f.radio_button(:operating_system, "Linux") %>

        <%= f.label(:operating_system, "UNIX") %>
        <%= f.radio_button(:operating_system, "UNIX") %>
        <label id="errorOperating"></label>

    </div><br>
    <div class="form_input">
      <%= f.label :about_me, "About Me:" %>
      <%= f.text_area :about_me %>
    </div><br>



    <div>
    <%= f.fields_for :languages do |language| %>
      <%= render "language_fields", f: language %>
    <% end %>
  </div>
  <p id="tag">Add your Languages!</p>
    <div>
      <br>
      <%= link_to_add_association "Add Language", f, :languages, id: 'add_language',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest' %>
    </div><br>

    <div class="form_input">
      <br>
      <p id="tag">Tag your Hobbies!</p>
      <%= f.label :tag_list, 'Tags:' %>
      <%= f.text_field :tag_list %>
    </div>

    <p id="tag">Add Some Photos!</p>
    <div>
      <%= f.fields_for :images do |image| %>
        <%= render "image_fields", f: image %>
      <% end %>
    </div>
    <br>
    <div class="add-language-spacing">
      <%= link_to_add_association "Add Another Photo", f, :images, id: 'add_photo',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest' %>
    </div>

    <p class="preferences" id="tag">Tell Us What Your Looking For?</p>
    <div>
      <%= f.fields_for :preferences do |pref| %>
        <%= render "preference_fields", f: pref %>
      <% end %>
    </div>
    <br>
    <div class="add-preferences-spacing">
      <%= link_to_add_association "Add Another Preference", f, :preferences, id: 'add_pref',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest' %>
    </div>

    <br>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
