
<%= form_for @profile do |f| %>

    <% if @profile.errors.any? %>
      <div class="error_messages">
        <h2>Form Is Invalid</h2>
        <ul>
          <% @profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form_input">
      <%= f.label :first_name, "First Name:"%>
      <%= f.text_field :first_name%>
    </div>
    <div class="form_input">
      <%= f.label :last_name, "Last Name:"%>
      <%= f.text_field :last_name%>
    </div>
    <div class="form_input">
      <%= f.label :location, "Location:"%>
      <%= f.text_field :location%>
    </div>
    <div class="form_checkbox_input">
      <%= label_tag "gender", "Gender:", class: "select_label" %>
        <%= f.label(:male, "Male" )%>
        <%= f.check_box(:male) %>

        <%= f.label(:female, "Female")%>
        <%= f.check_box(:female) %>

        <%= f.label(:other, "Other")%>
        <%= f.check_box(:other) %>
    </div><br>
    <div class="form_input">
      <%= f.label(:birthday, "Date of Birth:") %>
      <%= f.date_field(:birthday) %>
    </div>
    <div class="form_radio_button">
      <%= label :opperating_system, "Operating System:", class: "select_label"  %>

        <%= f.label(:operating_system, "Linux") %>
        <%= f.radio_button(:operating_system, "Linux") %>

        <%= f.label(:operating_system, "UNIX") %>
        <%= f.radio_button(:operating_system, "UNIX") %>
    </div>
    <div class="form_input">
      <%= f.label :about_me, "About Me:" %>
      <%= f.text_area :about_me %>
    </div>

    <div>
    <%= f.fields_for :languages do |language| %>
      <%= render "language_fields", f: language %>
    <% end %>
  </div>
  <p id="tag">Add your Languages!</p>
    <div>
      <%= link_to_add_association "Add Language", f, :languages, id: 'add_language',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest' %>
    </div>

    <div class="form_input">
      <br>
      <p id="tag">Tag your Hobbies!</p>
      <%= f.label :tag_list, 'Tags:' %>
      <%= f.text_field :tag_list %>
    </div>

    <p id="tag">Add Some Photos!</p>
    <div>
      <%= f.fields_for :images do |image| %>
        <%= render "image_fields", f: image %>
      <% end %>
    </div>
    <br>
    <div class="add-language-spacing">
      <%= link_to_add_association "Add Another Photo", f, :images, id: 'add_photo',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest' %>
    </div>

    <p class="partners" id="tag">Tell Us What Your Looking For?</p>
    <div>
      <%= f.fields_for :partners do |partner| %>
        <%= render "partner_fields", f: partner %>
      <% end %>
    </div>
    <br>
    <div class="add-partners-spacing">
      <%= link_to_add_association "Add A Partner", f, :partners, id: 'add_partner',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest', :force_non_association_create => true %>
    </div>

    <p class="pair_programmer" id="tag">Tell Us What Your Looking For?</p>
    <div>
      <%= f.fields_for :pair_programmers do |pair| %>
        <%= render "pair_programmer_fields", f: pair %>
      <% end %>
    </div>
    <div class="add-pair_programmer-spacing">
      <%= link_to_add_association "Add A Pair Programmer", f, :pair_programmers, id: 'add_pair_programmer',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest', :force_non_association_create => true %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
