<%= form_for @profile do |f| %>
    <% if @profile.errors.any? %>
      <div class="error_messages">
        <h2>Form Is Invalid</h2>
        <ul>
          <% @profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form_input">
      <%= label_tag "looking_for", "What are you looking for?", class: "select_label" %>
      <%= f.label :date, "Partner" %>
      <%= f.check_box :date %>
      <%= f.label :paired_programmer, "Pair Programmer" %>
      <%= f.check_box :paired_programmer %>
    </div>

    <div class="form_input">
      <%= f.label :first_name, "First Name:"%>
      <%= f.text_field :first_name%>
      <label id="errorFirstName"></label>
    </div>

    <div class="form_input">
      <%= f.label :last_name, "Last Name:"%>
      <%= f.text_field :last_name %>
      <label id="errorLastName"></label>
    </div>

    <div class="form_input">
      <%= f.label :city, "City:", class: "select_label"%>
      <%= f.text_field :city%>
      <%= f.label :province, "Province:", class: "select_label"%>
      <%= f.select(:province, options_for_select(provinces, selected: @profile.province), include_blank: true)%>
      <label id="errorLocation"></label>
    </div>

    <div class="form_checkbox_input">
      <%= label_tag "gender", "Gender:", class: "select_label" %>
        <%= f.label(:male, "Male" )%>
        <%= f.check_box(:male, class:'gender_validation') %>

        <%= f.label(:female, "Female")%>
        <%= f.check_box(:female, class:'gender_validation')%>

        <%= f.label(:other, "Other")%>
        <%= f.check_box(:other, class:'gender_validation')%>
        <label id="errorGender"></label>
    </div>

    <div class="form_input">
      <%= f.label(:birthday, "Date of Birth:") %>
      <%= f.date_field(:birthday) %>
      <label id="errorBirthday"></label>

    </div>
    <div class="form_radio_button">
      <%= label :opperating_system, "Operating System:" %>

        <%= f.label(:operating_system, "Linux") %>
        <%= f.radio_button(:operating_system, "Linux", :type => 'radio_button') %>

        <%= f.label(:operating_system, "OS X") %>
        <%= f.radio_button(:operating_system, "OS X") %>

        <%= f.label(:operating_system, "Windows") %>
        <%= f.radio_button(:operating_system, "Windows") %>

        <%= f.label(:operating_system, "Ubuntu") %>
        <%= f.radio_button(:operating_system, "Ubuntu") %>
        <%= f.label(:operating_system, "UNIX") %>
        <%= f.radio_button(:operating_system, "UNIX", :type => 'radio_button') %>
        <label id="errorOperating"></label>
    </div>

    <div class="form_input">
      <%= f.label :about_me, "About Me:" %>
      <%= f.text_area :about_me %>
    </div>

    <div>
    <%= f.fields_for :languages do |language| %>
      <%= render "language_fields", f: language %>
    <% end %>
  </div>

  <p id="tag">Add your Languages!</p>
    <div>
      <%= link_to_add_association "Add Language", f, :languages, id: 'add_language',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest' %>
    </div>

    <div class="form_input">
      <br>
      <p id="tag">Tag your Hobbies!</p>
      <%= f.label :tag_list, 'Tags:' %>
      <%= f.text_field :tag_list %>
    </div>

    <p id="tag">Add Some Photos!</p>
    <div>
      <%= f.fields_for :images do |image| %>
        <%= render "image_fields", f: image %>
      <% end %>
    </div>

    <div class="add-language-spacing">
      <%= link_to_add_association "Add Another Photo", f, :images, id: 'add_photo',
      'data-association-insertion-method' => 'before',
      'data-association-insertion-traversal' => 'closest' %>
    </div>

      <p class="partners" id="tag">Tell Us What Your Looking For?</p>

      <div>
        <%= f.fields_for :partner do |partner| %>
          <%= render "partner_fields", f: partner %>
        <% end %>
      </div>

      <div class="add-partners-spacing">
        <%= link_to_add_association "Add Partner", f, :partner, id: 'add_partner',
        'data-association-insertion-method' => 'before',
        'data-association-insertion-traversal' => 'closest', :force_non_association_create => true %>
      </div>

      <div>
        <%= f.fields_for :pair_programmer do |pair| %>
          <%= render "pair_programmer_fields", f: pair %>
        <% end %>
      </div>
      
      <div class="add-pair_programmer-spacing">
        <%= link_to_add_association "Add Pair Programmer", f, :pair_programmer, id: 'add_pair_programmer',
        'data-association-insertion-method' => 'before',
        'data-association-insertion-traversal' => 'closest', :force_non_association_create => true %>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
