
<%= form_for @profile do |profile| %>

    <% if @profile.errors.any? %>
      <div class="error_messages">
        <h2>Form Is Invalid</h2>
        <ul>
          <% @profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form_input">
      <%= profile.label :first_name, "First Name:"%>
      <%= profile.text_field :first_name%>
    </div>
    <div class="form_input">
      <%= profile.label :last_name, "Last Name:"%>
      <%= profile.text_field :last_name%>
    </div>
    <div class="form_input">
      <%= profile.label :location, "Location:"%>
      <%= profile.text_field :location%>
    </div>
    <div class="form_check_boxes">
      <%= label_tag"Gender:" %>
        <%= profile.check_box(:male) %>
        <%= profile.label(:male, "Male" )%>
        <%= profile.check_box(:female) %>
        <%= profile.label(:female, "Female")%>
        <%= profile.check_box(:other) %>
        <%= profile.label(:other, "Other")%>
    </div>
    <div class="form_date_input">
      <%= profile.label(:birthday, "Date of Birth:") %>
      <%= profile.date_field(:birthday) %>
    </div>
    <div class="form_radio_button">
      <%= label :opperating_system, "Operating System:" %>
        <%= profile.radio_button(:operating_system, "Linux") %>
        <%= profile.label(:operating_system, "Linux") %>
        <%= profile.radio_button(:operating_system, "UNIX") %>
        <%= profile.label(:operating_system, "UNIX") %>
    </div>
    <div class="form_text">
      <%= profile.label :about_me, "About Me:" %>
      <%= profile.text_area :about_me %>
    </div>

    <%= profile.fields_for :images do |i| %>

    <p>
      <label> Your images </label>
        <article class = "image">
          <%= image_tag @profile.image_url(:thumb) if @image_url.present? %>
          <%= i.file_field :image %>

        </article>
    </p>


    <% end %>

  <div class="actions">
    <%= profile.submit %>
  </div>

<% end %>
