<div id = "first_option">
  <%= form_tag users_path, method: :get, id: 'search-choice' do %>
  <label id="first_option_label">Who are you looking for?</label><br>
  <input type="radio" id="pairchoice" name="choice" value="pair"> <label for="pairchoice" class="button-label">Pair</label><br>
  <input type="radio" id="datechoice" name="choice" value="date"> <label for="datechoice" class="button-label">Date</label><br>
  <% end %>
</div>

<%= form_tag profiles_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Go!" %>
<% end %>

<div class = "choices">
  <div id = "pair-search">
    <%= render 'pair_search' %>
  </div>

  <div id = "date-search">
    <%= render 'date_search' %>
  </div>
</div>

<div class ="index-users">
<% @profiles.each do |profile| %>
 <%= image_tag (profile.user.github_image), class: 'profile-image' %>
 <div id="index-view-profile-info">
   <p id = "index-profile-name"><%= profile.first_name%><p>
    <p id="index-profile-location"><%=profile.location %></p>
    <div id="link-to-profile">
    <%= link_to image_tag("profile.svg"), profile_path(profile) %>
  </div>
 </div>
<hr class="line-break">
 <% end %>
</div>



<div id = "search-result">
</div>
