<h1 class="page-title"> User Search </h1>

<<<<<<< HEAD
<% @profiles.each do |profile| %>
<%= image_tag profile.image %>
<%= profile.first_name%><%=profile.last_name %>
<hr class="line-break">
<% end %>

<%= form_tag profiles_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Go!" %>
<% end %>
=======
<div id = "first_option">
  <%= form_tag users_path, method: :get, id: 'search-choice' do %>
  <label>Who are you looking for?</label><br>
  <input type="radio" id="pairchoice" name="choice" value="pair"> <label for="pairchoice" class="button-label">Pair</label><br>
  <input type="radio" id="datechoice" name="choice" value="date"> <label for="datechoice" class="button-label">Date</label><br>
  <% end %>
</div>
>>>>>>> 198d93a3dbcc9439312fb8472ca3b30259777c62

<div class = "choices">
  <div id = "pair-search">
    <%= render 'pair_search' %>
  </div>

  <div id = "date-search">
    <%= render 'date_search' %>
  </div>
</div>



<div id = "search-result">
</div>
<div id = "profile">
  <%= render 'profile' %>
</div>
