<h1> User Search </h1>

<%= form_tag profiles_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Go!" %>
<% end %>


<%= form_tag users_path, method: :get, id: 'search-form' do %>
<label>What are you looking for?</label><br>
<input type="radio" name="choice" value="paired"> Paired <br>
<input type="radio" name="choice" value="date"> Date <br>
<% end %>

  <%= render 'pair_search' %>
  <%= render 'date_search' %>

<!-- <% @profiles.each do |profile| %>
<%= profile.first_name%><%=profile.last_name %>
<% end %> -->

<!-- <div id="users">
<% @profiles.each do |p| %>
<%= p.first_name %>
<%= p.location %>
<% end %>
</div> -->
