<h1 class="page-title"> User Search </h1>

<div id = "first_option">
  <%= form_tag users_path, method: :get, id: 'search-form' do %>
  <label>Who are you looking for?</label><br>
  <input type="radio" id="pairchoice" name="choice" value="pair"> <label for="pairchoice" class="button-label">Pair</label><br>
  <input type="radio" id="datechoice" name="choice" value="date"> <label for="datechoice" class="button-label">Date</label><br>
  <% end %>
</div>

<div class = "choices">
  <div id = "pair-search">
    <%= render 'pair_search' %>
  </div>

  <div id = "date-search">
    <%= render 'date_search' %>
  </div>
</div>


  <%= render 'pair_search' %>
  <%= render 'date_search' %>

<div class ="index-users">
<% @profiles.each do |profile| %>
<%= image_tag (profile.user.github_image), class: 'profile-image' %>
<div id="index-view-profile-info">
  <p><%= profile.first_name%>, <%=profile.age %></p>
</div>
<!--Once languages added will update this line-->
<p>Ruby, JavaScript, CSS</p>

<hr class="line-break">

<% end %>
</div>


<div id = "profiles">
</div>
