<h1 class="page-title"><%= @profile.first_name %> <%= @profile.last_name %></h1>

<div class="profile-form">


<% if @profile.blocked_by?(current_user) %>
  <%= "This user has already been blocked" %>
  <%else %>
<%= form_for BlockedUser.new do |f| %>
  <%= f.hidden_field :blocked_id, value: @profile.user_id %>
  <%= f.submit 'block' %>
  <% end %>
<% end%>

<div id="profile-images">
  <% if @profile.images.empty? %>
    <%= image_tag(@user.github_image) %>
  <% else %>
    <% @profile.images.each do |img| %>
  <%= image_tag(img.image)%>
    <% end %>
  <% end %>
</div>

<div id="profile-aboutme">
  <p> <%= @profile.about_me %></p>
</div>

<div id="profile-details">
<p class="profile-details-title">My Details</p>
<ul>
  <li> Gender:
    <% if @profile.male == true %>
    Male
    <% elsif @profile.female == true %>
    Female
    <% else %>
    Other
    <% end %>
  </li>
  <li>
    Location: <%= @profile.location %>
  </li>
  <li>
    Birthday: <%= @profile.birthday %>
  </li>
  <li>
    Operating System: <%= @profile.operating_system %>
  </li>
</ul>
</div>

<div id="profile-languages">
<p class="profile-details-title"> Languages </p>

<ul>
  <% @profile.languages.each do |lang| %>
    <li> <%= lang.language %> Skill Level: <%= lang.skill_level %></li>
  <% end %>
</ul>
</div>

<div class="profile-tags">
<% @profile.tags.any? %>
<% @profile.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>
</div>

<% @profile.images.each do |img| %>
  <%= image_tag(img.image)%>
<% end %>

<%= render "messages/new_message" %>
