<div class="profile-form">

  <div id="profile-images">
  <% if @profile.images.any? %>
    <% @profile.images.each do |img| %>
      <%= image_tag(img.image)%>
    <% end %>
  <% else %>
    <%= render "no_profile_image" %>
  <% end %>
  </div>

<h1 class="profile-name"><%= @profile.first_name %> <%= @profile.last_name %></h1>

  <button class= "message-to-button">message</button>
  
<% if @profile.blocked_by?(current_user) %>
  <%= "This user has already been blocked" %>
  <%else %>
<%= form_for BlockedUser.new do |f| %>
  <%= f.hidden_field :blocked_id, value: @profile.user_id %>
  <%= f.submit 'Block User', :class => "block_button" %>
  <% end %>
<% end%>



<div id="profile-aboutme">
  <p> <%= @profile.about_me %></p>
</div>

<div id="profile-details">
<p class="profile-details-title">My Details</p>
<ul>
  <li> Gender:
    <% if @profile.male == true %>
    Male
    <% elsif @profile.female == true %>
    Female
    <% else %>
    Other
    <% end %>
  </li>
  <li>
    Birthday: <%= @profile.birthday %>
  </li>
  <li>
    Operating System: <%= @profile.operating_system %>
  </li>
  <li> <%= @profile.location %> </li>
</ul>
</div>


<div id="profile-languages">
<p class="profile-details-title"> Languages </p>

<ul>
  <% @profile.languages.each do |lang| %>
    <li> <%= lang.language %> Skill Level: <%= lang.skill_level %></li>
  <% end %>
</ul>
</div>

<div class="profile-tags">
<% @profile.tags.any? %>
<% @profile.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>
</div>

<%= render "messages/new_message" %>

<div class="reco_matches">
</div>
