


<%= form_for @user do |f| %>
<p>
  <label> Your images</label>
    <article class = "image">
      <%= image_tag @user.image_url(:thumb) if @user.image? %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </article>
</p>
<p>
  <label>
    <%= f.check_box :remove_image %>
    Remove image
  </label>
</p>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
