<h1> Welcome to GitHug </h1>


<%= link_to 'Users', users_path %>

<%= form_tag users_path, method: :get, id: 'search-form' do %>
<label>What are you looking for?</label><br>
<input type="radio" name="choice" value="paired"> Paired <br>
<input type="radio" name="choice" value="date"> Date <br>


<%= label(:language, 'What are your preferred languages?') %><br>
<%= check_box_tag(:language, 'Ruby') %>
<%= label_tag(:language, 'Ruby') %>
<%= check_box_tag(:language, 'JavaScript') %>
<%= label_tag(:language, 'JavaScript') %>
<%= check_box_tag(:language, 'Python') %>
<%= label_tag(:language, 'Python') %>
<%= check_box_tag(:language, 'Java') %>
<%= label_tag(:language,'Java') %>
<%= check_box_tag(:language, 'PHP') %>
<%= label_tag(:language,'PHP') %>
<%= check_box_tag(:language, 'C++') %>
<%= label_tag(:language,'C++') %><br>

Operating System
Age-Range

<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<div id="users">
	<%= render "user_form" %>
</div>
