<!DOCTYPE html>
<html>
<head>
  <title>GitHug</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Exo:800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>

  <div class="menu-bar">
    <div class="message">
      <%= image_tag "message.svg", class: "message" %>
    </div>

    <div class="logo" >
      <%= image_tag "GitHugLogo3.svg", class: "logo" %>
    </div>

    <div class="menu">
      <%= image_tag "menu.svg", class: "menu" %>
    </div>
  </div>
    <li><%= link_to 'Logout', session_path(current_user), method: 'delete' %></li>
    <li><%= link_to 'Update Profile', edit_profile_path(current_user) %></li>

  <% end %>
  <div class="yeild">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p> <%= flash[:alert] %></p>
  <% end %>


<%= yield %>
  </div>
</body>
</html>
