<!DOCTYPE html>
<html>
<head>
  <title>GitHug</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Exo:800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <li>Currently logged in as <%=current_user.username %></li>
    <li><%= link_to 'Logout', session_path(current_user), method: 'delete' %></li>

  <% else %>
    <li><%= link_to 'Login with GitHub', auth_at_provider_path(provider: :github) %></li>
  <% end %>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p> <%= flash[:alert] %></p>
  <% end %>


<%= yield %>

</body>
</html>
