<!DOCTYPE html>
<html>
<head>
  <title>GitHug</title>
  <link rel="icon" href="http://www.clker.com/cliparts/5/H/k/W/F/F/green-heart-md.png">
  <meta name="viewport" content="initial-scale=1.0" width="device-width">
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class= "<%= controller.controller_name %>">

  <% if current_user %>

  <div class="menu-bar">
    <div class="message">
      <%= link_to image_tag("message.svg"), messages_path, class: "message-icon"%>
    </div>

    <div class="logo" >
      <%= image_tag "GitHugLogo.svg", class: "logo" %>
    </div>

    <nav id="nav-main">
      <ul>
        <% if current_user.profile.id == nil %>
        <li><%= link_to 'Logout', session_path(current_user), method: 'delete' %></li>
        <% else %>
        <li><%= link_to 'Find A Match', profiles_path %></li>
        <li><%= link_to 'Mailbox', messages_path %></li>
        <li><%= link_to 'Profile', profile_path(current_user.profile) %></li>
        <li><%= link_to 'Updagit te Profile', edit_profile_path(current_user.profile) %></li>
        <li><%= link_to 'Logout', session_path(current_user), method: 'delete' %></li>
        <% end %>
      </ul>
    </nav>

    <div id="nav-trigger">
      <span class="menu-icon">
        <%= image_tag "menu.svg", class: "menu" %>
      </span>
    </div>

    <nav id="nav-mobile"></nav>

    <% if flash[:notice] %>
    <p id="login-notice"><%= flash[:notice] %></p>
    <% end %>

    <div class="logout-icon">
      <%= link_to image_tag('power2.svg'), session_path(current_user), method: 'delete' %>
    </div>


  </div>

  <aside id="main-menu">
      <ul>
        <% if current_user.profile.id == nil %>
        <li><%= link_to 'Logout', session_path(current_user), method: 'delete' %></li>
        <% else %>
        <li><%= link_to 'Find A Match', profiles_path %></li>
        <li><%= link_to 'Mailbox', messages_path %></li>
        <li><%= link_to 'Profile', profile_path(current_user.profile) %></li>
        <li><%= link_to 'Update Profile', edit_profile_path(current_user.profile) %></li>
        <li><%= link_to 'Logout', session_path(current_user), method: 'delete' %></li>
        <% end %>
      </ul>
  </aside>

  <div class="yield">

      <p id="unread-messages-notice"><%= current_user.notice %> New Messages!</p>

    <% end %>

    <%= yield %>

  </div>
</body>
</html>
