<!DOCTYPE html>
<html>
<head>
  <title>GitHug</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <li><%= link_to 'Login with Github', auth_at_provider_path(provider: :github) %></li>

<%= yield %>

</body>
</html>
